<blockquote class="quote">
    <p class="quote__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta ut vitae atque dolores eius recusandae facilis non quae vero modi.
    </p>
    <footer>
        <div class="media">
            <div class="media__image">
                <svg class="icon icon--primary quote__line">
                    <Use xlink:href="images/sprite.svg#line"></Use>
                </svg>
            </div>
        <div class="media__body">
            <h3 class="media__title quote__author">Michel-Angelo Antheunis</h3>
            <p class="quote__organisation">ABC Company</p>
        </div>
        </div>
    </footer>
</blockquote>